{% extends 'base.html.twig' %}

{% block title %}Mes compétences{% endblock %}

{% block body %}
    <h1 class="col-lg-12 text-center mb-5 mt-3">Mes compétences</h1>
    <div class="col-lg-8 m-auto">
        <p class="mb-5">Voici mes comptences mdr Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quod recusandae accusamus dolore. Architecto quisquam iure sunt inventore eius animi deleniti. Omnis, doloribus in inventore nobis dolor distinctio! Repudiandae, recusandae adipisci!</p>
        <div class="row">
            <div class="col-4">
                <div class="list-group" id="list-tab" role="tablist">
                    <a class="list-group-item list-group-item-action" id="list-html-css" data-toggle="list" href="#html-css" role="tab" aria-controls="html">HTML / CSS</a>
                    <a class="list-group-item list-group-item-action" id="list-js-jquery" data-toggle="list" href="#js-jquery" role="tab" aria-controls="js">JS / JQUERY</a>
                    <a class="list-group-item list-group-item-action" id="list-php-mysql" data-toggle="list" href="#php-mysql" role="tab" aria-controls="php">PHP / MySQL</a>
                    <a class="list-group-item list-group-item-action" id="list-cms" data-toggle="list" href="#cms" role="tab" aria-controls="cms">CMS</a>
                    <a class="list-group-item list-group-item-action" id="list-symfony" data-toggle="list" href="#symfony" role="tab" aria-controls="cms">Symfony</a>
                </div>
            </div>
            <div class="col-8">
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active">Intro</div>
                    <div class="tab-pane fade" id="html-css" role="tabpanel" aria-labelledby="list-html-css">
                        <h2 class="text-center">Html / Css</h2>
                        <p>blabla a propos de html et css Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente doloribus nihil enim earum fugiat quas incidunt neque repellendus et nesciunt?</p>
                    </div>
                    <div class="tab-pane fade" id="js-jquery" role="tabpanel" aria-labelledby="list-js-jquery">
                        <h2 class="text-center">Js / Jquery</h2>
                        <p>blabla a propos de html et css Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente doloribus nihil enim earum fugiat quas incidunt neque repellendus et nesciunt?</p>
                    </div>
                    <div class="tab-pane fade" id="php-mysql" role="tabpanel" aria-labelledby="list-php-mysql">
                        <h2 class="text-center">Php / MySQL</h2>
                        <p>blabla a propos de html et css Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente doloribus nihil enim earum fugiat quas incidunt neque repellendus et nesciunt?</p>
                    </div>
                    <div class="tab-pane fade" id="cms" role="tabpanel" aria-labelledby="list-cms">
                        <h2 class="text-center">C.M.S</h2>
                        <p>blabla a propos de html et css Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente doloribus nihil enim earum fugiat quas incidunt neque repellendus et nesciunt?</p>
                    </div>
                    <div class="tab-pane fade" id="symfony" role="tabpanel" aria-labelledby="list-symfony">
                        <h2 class="text-center">Symfony</h2>
                        <p>blabla a propos de html et css Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente doloribus nihil enim earum fugiat quas incidunt neque repellendus et nesciunt?</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}