{% extends 'base.html.twig' %}

{% block title %}Mes compétences{% endblock %}

{% block body %}
    <h1 class="col-lg-12 text-center mb-5 mt-3">Mes compétences</h1>
    <div class="col-lg-8 m-auto">
        <p class="mb-5">Que sais-je faire? Voici une présentation des divers langages et compétences que j'ai appris ainsi que ma maitrise de ces derniers. Les notes attribuées plus bas sont l'objet d'une auto-évaluation et doivent dont être cosindérées avec attention. La majorité de ces compétences sont le fruit de ma formation en développement e intégration Web chez WebForce3. Bien qu'ayant assez peu d'expérience professionnelle, j'ai confiance dans ma capacité d'apprentissage et d'adaptation.</p>
        <div class="row mb-5 border border-primary rounded">
            <div class="col-4 pl-0 pr-0 border-right border-primary rounded">
                <div class="list-group" id="list-tab" role="tablist">
                    <a class="list-group-item list-group-item-action" id="list-html-css" data-toggle="list" href="#html-css" role="tab" aria-controls="html">HTML / CSS</a>
                    <a class="list-group-item list-group-item-action" id="list-js-jquery" data-toggle="list" href="#js-jquery" role="tab" aria-controls="js">JS / JQUERY</a>
                    <a class="list-group-item list-group-item-action" id="list-php-mysql" data-toggle="list" href="#php-mysql" role="tab" aria-controls="php">PHP / MySQL</a>
                    <a class="list-group-item list-group-item-action" id="list-cms" data-toggle="list" href="#cms" role="tab" aria-controls="cms">C.M.S</a>
                    <a class="list-group-item list-group-item-action" id="list-symfony" data-toggle="list" href="#symfony" role="tab" aria-controls="cms">Symfony</a>
                </div>
            </div>
            <div class="col-8 bg-light">
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active">
                        <h2 class="text-center mb-3">Présentation</h2>
                        <p>Vous trouverez ici une présentation rapide des differents langages et compléments que j'utilise lors de la création d'une application Web.</p>
                    </div>
                    <div class="tab-pane fade" id="html-css" role="tabpanel" aria-labelledby="list-html-css">
                        <h2 class="text-center mb-3">Html / Css</h2>
                        <p>Le langage Html permet la construction d'une page Web et le Css son habillage. J'utilise principalement <a href="https://getbootstrap.com/" target="_blank" data-toggle="tooltip" data-placement="bottom" title data-original-title="Nouvelle onglet.">Bootstrap</a> pour créer des applications Web facilitant et augmentant considérablement la vitesse de développement.</p>
                    </div>
                    <div class="tab-pane fade" id="js-jquery" role="tabpanel" aria-labelledby="list-js-jquery">
                        <h2 class="text-center mb-3">Js / Jquery</h2>
                        <p>Le langage JavaScript est utilisé afin de rendre une page Web plus dynamique, interractive. Créer un compte à rebours, faire des animations lorsque l'on clique quelques part... sont autant d'actions réalisable grâce à ce langage. <a href="https://jquery.com/" target="_blank" data-toggle="tooltip" data-placement="bottom" title data-original-title="Nouvelle onglet.">JQuery</a> est une bibliothèque facilitant l'utilisation du langeage JS.<br>Le JS permet aussi de traiter certaines donées de façon asynchrone, améliorant ainsi les performances en terme de rapidité d'une application Web et d'en améliorer l'expérience utilisateur.</p>
                    </div>
                    <div class="tab-pane fade" id="php-mysql" role="tabpanel" aria-labelledby="list-php-mysql">
                        <h2 class="text-center mb-3">Php / MySQL</h2>
                        <p>Le langage PHP est utilisé afin de pouvoir générer la même page mais avec du contenu différent, notament via l'utilisation d'une base de donées. Site de vente, site vitrine, exposition d'images ou de texte... Tous vos articles enregistrés en base de données pourront être présentés facilement. <br>Ce langage est vital pour la sécurité de votre apllication Web. Etant compilé coté serveur, les utilisateurs avec de mauvaises intentions ne pourront pas intervenir. Formulaires d'inscirption ou de connexion, requête à la base de donées, transfert de fichier... le tout sécurisé selon vos souhaits.</p>
                    </div>
                    <div class="tab-pane fade" id="cms" role="tabpanel" aria-labelledby="list-cms">
                        <h2 class="text-center mb-3">C.M.S</h2>
                        <p>Les <a href="https://fr.wikipedia.org/wiki/Syst%C3%A8me_de_gestion_de_contenu" target="_blank" data-toggle="tooltip" data-placement="bottom" title data-original-title="Nouvelle onglet.">C.M.S</a> deviennent de plus en plus nombreux. Ils mettent à disposition des sites tout prêt et clé en main, permettant à quelqu'un qui ne s'y connait pas de "créer" son propre site tout seul.<br>Au dela du paramètrage d'une application toute prête pour un client, je suis initié à la création de plugin ou de thème, sous <a href="https://fr.wordpress.org/" target="_blank" data-toggle="tooltip" data-placement="bottom" title data-original-title="Nouvelle onglet.">WordPress</a> et <a href="https://www.prestashop.com/fr" target="_blank" data-toggle="tooltip" data-placement="bottom" title data-original-title="Nouvelle onglet.">PrestaShop</a>, bien qu'encore novice.</p>
                    </div>
                    <div class="tab-pane fade" id="symfony" role="tabpanel" aria-labelledby="list-symfony">
                        <h2 class="text-center mb-3">Symfony</h2>
                        <p><a href="https://symfony.com/" target="_blank" data-toggle="tooltip" data-placement="bottom" title data-original-title="Nouvelle onglet.">Symfony</a> est un framework permettant de développer une application Web dans un cadre structuré. Son utilisation est très large, et bien que je n'en connaisse que très peu, je souhaite me spécialiser dans son utilisation. Je maitrise ainsi ce dont j'ai connaissance. Lors de ma formation WebForce3 de 5mois, nous avons travaillé un mois dessus pour apprendre les bases du M.V.C (model view controller). Le site que vous êttes en train de visiter a été développer via Symfony.</p>
                    </div>
                </div>
            </div>
        </div>
        <p>Comment introduit en haut de page, ici se trouve mon auto-évaluation dans les different domaines appris. Les notes ne reflètent pas que ma capacité à coder dans tel ou tel langage, mais aussi mes préférences (notament entre le front-end et le back-end, avec une très nette préference pour le second) et le potentiel que je pense avoir.</p>
        <div class="row">
            <div class="col-lg-6">
                <div class="progress" style="height: 20px;">
                    <div class="progress-bar bg-success" role="progressbar" style="width: 80%;" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">8/10</div>
                </div>
            </div>
            <p class="col-lg-6">HTML</p>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="progress" style="height: 20px;">
                    <div class="progress-bar bg-primary" role="progressbar" style="width: 50%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">5/10</div>
                </div>
            </div>
            <p class="col-lg-6">CSS</p>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="progress" style="height: 20px;">
                    <div class="progress-bar bg-primary" role="progressbar" style="width: 60%;" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">6/10</div>
                </div>
            </div>
            <p class="col-lg-6">JS</p>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="progress" style="height: 20px;">
                    <div class="progress-bar bg-success" role="progressbar" style="width: 85%;" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">8,5/10</div>
                </div>
            </div>
            <p class="col-lg-6">PHP</p>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="progress" style="height: 20px;">
                    <div class="progress-bar bg-primary" role="progressbar" style="width: 70%;" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">7/10</div>
                </div>
            </div>
            <p class="col-lg-6">AJAX</p>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="progress" style="height: 20px;">
                    <div class="progress-bar bg-danger" role="progressbar" style="width: 20%;" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">2/10</div>
                </div>
            </div>
            <p class="col-lg-6">C.M.S</p>
        </div>
        <div class="row mb-5">
            <div class="col-lg-6">
                <div class="progress" style="height: 20px;">
                    <div class="progress-bar bg-warning" role="progressbar" style="width: 50%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">5/10</div>
                </div>
            </div>
            <p class="col-lg-6">Symfony</p>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        $(document).ready(function(){
            $(function () {
                $('[data-toggle="tooltip"]').tooltip()
            });
        });
    </script>
{% endblock %}